##Problem Statement:
Write a program that computes the net amount of a bank account based on a transaction log from console input. The transaction log / sample input is in the format as shown below:

Input

log_message = D:100 W:10

Output

90

Input

Log_message = D:100 W:200 D:400

Output

300 (100 - 200 + 400 = 300)

In [12]:
netamnt= 0
while True:
    log_msg= input()
    if not log_msg:
        break
    msg=log_msg.split(":")
    print(msg)
    transaction = msg[0]
    amount = int(msg[1])
    if transaction =="D":
        netamnt= netamnt + amount
    elif transaction =="W":
        netamnt= netamnt - amount
    else:
        pass
print("Net Ammount is",netamnt)

D:100
['D', '100']
W:10
['W', '10']

Net Ammount is 90